{% extends 'index.html' %}
{% load static %}

{% block title %}Noticias{% endblock %}

{% block content %}

<div class="grid p-10 gap-5">
    <article id="noticias" class="gap-4">
        {% for noticia in noticias %}
    
            {% if forloop.first %}
               <a href="" 
                    class="block  bg-white primer-noticia relative w-[30rem] h-[31rem] shadow-xl rounded-lg overflow-hidden hover:shadow-2xl hover:scale-105 transition-transform duration-300 ease-in-out">
                        {% include 'noticias/components/PrimerNoticiasSection.html' %}
                </a>
            {% else %}
                <a href="" 
                    class="block  bg-white otras-noticias relative w-[15rem] h-[15rem] shadow-xl rounded-lg overflow-hidden hover:shadow-2xl hover:scale-105 transition-transform duration-300 ease-in-out">
                        {% include 'noticias/components/OtrasNoticiasSection.html' %}
                </a>
            {% endif %}
    
        {% endfor %}
    </article>
    
    <section class="bg-pink-300 p-4">
        <a href="" 
            class="inline-block w-full font-bold text-xl text-white" >
            Ver más noticias...
        </a>
    </section>
</div>

{% endblock %}