{% extends 'index.html' %}
{% load static %}

{% block title %}Noticias{% endblock %}

{% block content %}

<section id="noticias" class="flex gap-4 p-10">

    {% for noticia in noticias %}

        <div class="w-[20rem] h-[20rem] border-4 rounded-sm shadow-xl">

            {% if noticia.imagenes %}

            <div class="w-full h-[14rem]">
                <img class="w-full h-full object-top object-cover" 
                    src="{{ noticia.imagenes.first.imagen.url }}" alt="Imagen de la noticia {{ noticia.titulo }}">
            </div>
            {% endif %}

            <div class="p-3">
                <h2>{{ noticia.titulo }}</h2>
                <p>{{ noticia.descripcion }}</p>
            </div>
        </div>

    {% endfor %}

</section>

{% endblock %}