{% extends 'index.html' %}
{% load static %}

{% block title %}Noticias{% endblock %}

{% block content %}

<section id="noticias" class="">
    {% for noticia in noticias %}
        <div class="w-20 h-20 p-4 bg-[#f0f0f0] shadow-lg rounded-lg mb-4">
            {% if noticia.imagenes %}
            <div class="w-full h-1/2">
                <img class="w-full h-full object-cover rounded-lg" 
                    src="{{ noticia.imagenes.first.imagen.url }}" alt="Imagen de la noticia {{ noticia.titulo }}">
            </div>
            {% endif %}
            <div class="w-full h-1/2">
                <h2>{{ noticia.titulo }}</h2>
                <p>{{ noticia.descripcion }}</p>
            </div>
        </div>
    {% endfor %}
</section>

{% endblock %}