@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Titulos';
  src: url('{% static "fonts/CormorantGaramond-SemiBold.ttf" %}') format('truetype');
}

.noticias {
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, .2);
}

.noticias:hover {
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, .2);
}

.aliados-flex {
  @apply flex-shrink-0 flex-grow-0 basis-full h-full p-1 flex items-center justify-center;
}

.items-hover {
  @apply block bg-white relative rounded-lg overflow-hidden hover:-translate-y-1 transition-transform duration-300 ease-in-out;
}

@layer components {
  .nav-link {
    @apply pt-2 pb-1 inline-block w-full text-[#f0f0f0] text-center;
  }

  .nav-link:hover {
    @apply hover:text-pink-300 scale-105 transition-all duration-200 ease-in-out;
  }

  .nav-link::before {
    @apply content-[''] absolute bottom-0 left-1/2 w-0 h-1 bg-pink-300 transition-all duration-300 ease-in-out;
  }

  .nav-link:hover::before {
    @apply w-full left-0;
  }
}