<!-- Primer Noticia Section -->

{% if noticia.imagenes %}

    <div class="w-full h-[25rem]">

        <img class="w-full h-full object-top object-cover" 
            src="{{ noticia.imagenes.first.imagen.url }}" alt="Imagen de la noticia {{ noticia.titulo }}">
    </div>

{% endif %}
    <small class="absolute bg-[#0a4d0a] p-2 text-white font-bold top-0 right-0 lowercase"> {{ noticia.fecha }} </small>

    <div class="grid box-border p-3">

        <p class="font-normal text-sm text-red-700 leading-none"> {{ noticia.tipo }} </p>
        <h2 class="font-bold text-2xl">{{ noticia.titulo }}</h2>
        <p class="font-thin text-base truncate">{{ noticia.descripcion }}</p>

    </div>